.available-programs {
  .paper {
    width: 32%;
    transition: all 0.5s;
    cursor: pointer;
    height: 100% !important;

    .title {
      font-size: 14px;
    }

    &:hover {
      color: white;
      background-color: $primary;
    }

    .courses {
      p {
        border-right: 1px solid lightgray;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .available-programs {
    .paper {
      width: 100%;
    }
  }
}
