.application-form {
  .border-color {
    border-color: grey !important;
  }

  .heading {
    display: flex;
    justify-content: center;
    border-bottom: 4px solid $secondary;

    h4 {
      background: linear-gradient(to top left, #01645f, #02a39b 80%);
      color: white;
      padding: 10px 15px;
      display: inline-block;
      border-radius: 20px 20px 0 0;
    }
  }
}

@media only screen and (max-width: 575px) {
  .application-form {
    .heading {
      h4 {
        font-size: 18px;
        padding: 10px 20px;
      }
    }

    .no {
      margin-bottom: 3px;
    }
  }
}

@media only screen and (max-width: 558px) {
  .application-form {
    .no {
      margin-bottom: 22px;
    }
  }
}

@media only screen and (max-width: 336px) {
  .application-form {
    .no {
      margin-bottom: 42px;
    }
  }
}
