.process-odd {
  background-color: $secondary;
  color: white;
}

.process-even {
  background-color: white;
  color: black;
}

@media only screen and (max-width: 350px) {
  .process-odd {
    iframe {
      height: 170px;
      width: 100%;
    }
  }
}
