.apply-now {
  background: url("https://i.ibb.co/vPZWsP5/banner-affilaite.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  height: 700px;
  width: 100%;
}

@media only screen and (max-width: 576px) {
  .apply-now {
    height: auto;
    padding-top: 30px;
    padding-bottom: 150px;
  }
}
