.dashboard {
  .nav-btn {
    position: absolute;
    top: -70px !important;
    transition: all 0.2s;
    margin-top: 90px;
  }

  .profile-dash {
    .profile-pic {
      height: 97px;
      width: 120px;
    }
  }
}
