@mixin ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.MuiBadge-badge {
  font-size: 0.7rem !important;
}

.laptop-menu-items {
  z-index: 1550;

  .menu-laptop.open-nav {
    left: 0;
  }

  .menu-laptop {
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: -100%;
    transition: all 0.5s;
    height: 100%;
    width: 350px;
    background-color: $primary;
    z-index: 1550;

    &::-webkit-scrollbar {
      width: 15px;
    }

    &::-webkit-scrollbar-track {
      background-color: white;
      width: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: $secondary;
      border-radius: 10px;
    }

    .items {
      padding-left: 40px;

      .items-link {
        margin-top: 30px;
        display: block;
        color: white;
        text-decoration: none;
        border-bottom: 1px solid white;
        font-size: 18px;
        font-weight: bold;
        padding-bottom: 3px;
        transition: all 0.3s;
        user-select: none;

        .plus-minus {
          position: absolute;
          right: 20px;
        }

        &:hover {
          color: $secondary;
        }
      }

      .ul-sub {
        background-color: white;
        border-radius: 0.3rem;
        padding: 12px 0 !important;
        margin-top: 7px;
      }

      .items-sub {
        display: block;
        margin-left: 15px;
        color: black;
        text-decoration: none;
        font-size: 16px;
        transition: all 0.3s;
        font-weight: bold;
        &:hover {
          color: $primary;
        }
      }
    }
  }
}

.custom-navbar {
  .navbar-items {
    @include ul;
    user-select: none;

    .navbar-items-li {
      border-radius: 0.3rem;

      .angle-down {
        font-size: 20px;
      }

      &:hover {
        .sub-menus {
          visibility: visible;
          opacity: 1;
        }
      }

      .item,
      a {
        color: black;
        text-decoration: none;
        border-radius: 0.3rem;

        &:hover {
          background: $secondary;
          color: white;
        }
      }

      &:hover {
        background: $secondary;
        color: white;
        cursor: pointer;
      }
    }

    .sub-menus-scroll {
      height: 400px;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 15px;
      }

      &::-webkit-scrollbar-track {
        background-color: white;
        width: 10px;
      }

      &::-webkit-scrollbar-thumb {
        background: $secondary;
        border-radius: 10px;
      }
    }

    .sub-menus {
      visibility: hidden;
      opacity: 0;
      @include ul;
      padding-top: 5px;
      padding-bottom: 5px;
      position: absolute;
      background-color: white;
      left: 0;
      top: 41px;
      color: black;

      .sub-menus-li {
        position: relative;
        background-color: white;

        &:hover {
          .sub-menu-link {
            background: transparent !important;
            color: white;
          }
        }

        &:hover {
          background: $secondary;
          color: white;
        }
      }
    }
  }
}

@media only screen and (max-width: 1400px) {
  .custom-navbar {
    .navbar-items-li,
    .item,
    a {
      font-size: 14px;
    }
    .navbar-items {
      .sub-menus {
        top: 38px;
      }
    }
  }
}

@media only screen and (max-width: 1286px) {
  .custom-navbar {
    .custom-badge {
      right: 17px;
    }

    .navbar-items {
      li {
        font-size: 12px;
      }

      .sub-menus {
        top: 36px;
      }
    }

    .custom-button {
      font-size: 12px;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .custom-navbar {
    .custom-badge {
      right: 25px;
    }

    .MuiBadge-badge {
      font-size: 0.6rem !important;
    }

    .angle-down {
      font-size: 10px;
    }
  }
}

@media only screen and (max-width: 1170px) {
  .custom-navbar {
    .custom-badge {
      right: 25px;
    }

    .custom-button {
      font-size: 14px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .custom-navbar {
    .custom-badge {
      right: 35px;
    }
  }
}

@media only screen and (max-width: 576px) {
  .signOut-button {
    position: relative;
    left: 150px;
  }
  .custom-navbar {
    .custom-badge {
      position: absolute;
      right: 55px;
    }

    // .laptop-menus {
    //   position: absolute;
    //   left: 20px;
    //   top: 20px;
    // }

    // .logo {
    //   position: relative;
    //   left: -45px;
    // }
  }
}

@media only screen and (max-width: 522px) {
  .signOut-button {
    position: relative;
    left: 100px;
  }
}

@media only screen and (max-width: 425px) {
  .signOut-button {
    position: relative;
    left: 70px;
  }
  .laptop-menu-items {
    .menu-laptop {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 345px) {
  .signOut-button {
    position: relative;
    left: 50px;
  }
  .custom-navbar {
    .custom-badge {
      right: 50px;
    }

    .laptop-menus {
      left: 10px;
    }

    .logo {
      left: -45px;

      img {
        width: 80px !important;
      }
    }

    .custom-button {
      font-size: 12px;
    }
  }
}

@media only screen and (max-width: 325px) {
  .signOut-button {
    position: relative;
    left: 80px;
  }
  .custom-navbar {
    height: 70px;

    .custom-toolbar {
      justify-content: space-around !important;
    }

    // .laptop-menus {
    //   top: 13px;
    // }

    .custom-button {
      font-size: 14px;
    }

    .custom-badge {
      right: 55px;
      margin-top: 6px;
    }
  }
}
