.bg-img {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://i.ibb.co/x57BJnw/depositphotos-80147336-Business-teamwork.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.team {
  .modal {
    .modal-body {
      height: 400px !important;
    }
  }
}
.ser-head {
  font-weight: bolder;
  font-size: 4rem;
}
.ser-head span {
  border-bottom: 3px solid white;
}
.cards-head {
  font-weight: bolder;
  font-size: 4rem;
}
.card-title-name {
  font-weight: bolder;
  color: #01645f !important;
}
.title-parent {
  border-bottom: 1px solid black;
}
.card-img-parrent {
  width: 100% !important;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-img-top {
  width: 260px;
  height: 260px;
  border-radius: 50%;
}
.my-card-button {
  border-radius: 40% !important;
  width: 150px !important;
}

@media only screen and (max-width: 371px) {
  .card-img-top {
    height: 200px;
    width: 200px;
  }
}
