* {
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  &::-webkit-scrollbar {
    width: 15px;
  }

  &::-webkit-scrollbar-track {
    background-color: white;
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: linear-gradient(to top, #02a39b, #01645f);
    border-radius: 10px;
  }
}

// Slider Next TXT
.sr-only {
  display: none;
}

.mt {
  margin-top: 85px;
}

.slider {
  img {
    height: 635px;
  }
}

.pointer {
  cursor: pointer;
}

.custom-button {
  text-transform: none !important;
  background-color: #01645f !important;
  transition: all 0.3s !important;
  outline: none !important;
  font-family: Montserrat, sans-serif !important;
  color: white !important;
  &:hover {
    background-color: #02a39b !important;
  }
}

.outline {
  outline: none !important;
}

@media only screen and (max-width: 345px) {
  .mt {
    margin-top: 75px;
  }
}

@media only screen and (max-width: 325px) {
  .mt {
    margin-top: 65px;
  }
}

// Slider

@media only screen and (min-width: 1560px) and (min-height: 800px) {
  .slider {
    .img {
      width: 100%;
      height: auto;
    }
  }
}

@media only screen and (max-width: 1560px) {
  .slider {
    .img {
      width: 100%;
      height: auto;
    }
  }
}

@media only screen and (max-width: 576px) {
  .text-justify {
    text-align: justify !important;
  }
}

// Variables
@import "./variables";

// Navbar
@import "./nav/nav";

// Our Mission
@import "./our_mission/ourMission";

// Available Programs
@import "./available_programs/availablePrograms";

// Upcoming Programs
@import "./upcoming_programs/upcomingPrograms";

// Youtube Channel
@import "./youtube_channel/youtubeChannel";

// Join DigiPAKISTAN
@import "./join_digiPakistan/joinDigiPakistan";
