* {
  font-family: Montserrat, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #02a39b;
    border-radius: 10px;
  }
}

// Slider Next TXT
.sr-only {
  display: none;
}

.mt {
  margin-top: 85px;
}

// Slider
.slider {
  img {
    height: 635px;
  }
}

// Icon style
.icon {
  font-size: 135px !important;
}

.pointer {
  cursor: pointer;
}

.custom-link {
  color: #01645f;
  text-decoration: none;
  transition: all 0.3s;

  &:hover {
    color: #02a39b;
  }
}

.custom-button,
.custom-button2 {
  text-transform: none !important;
  background-color: #01645f !important;
  transition: all 0.3s !important;
  outline: none !important;
  font-family: Montserrat, sans-serif !important;
  color: white !important;
  &:hover {
    background-color: #02a39b !important;
  }
}

.signOut-button {
  text-transform: none !important;
  background-color: #01645f !important;
  transition: all 0.3s !important;
  outline: none !important;
  font-family: Montserrat, sans-serif !important;
  color: white !important;
  &:hover {
    background-color: #02a39b !important;
  }
}

.download-button {
  text-transform: none !important;
  background-color: #2196f3 !important;
  transition: all 0.3s !important;
  outline: none !important;
  font-family: Montserrat, sans-serif !important;
  color: white !important;
  &:hover {
    background-color: #0564b3 !important;
  }
}

.word-break {
  word-break: break-all !important;
}

.outline {
  outline: none !important;
}

// Input Fields style for all
.MuiFormLabel-root.Mui-focused {
  color: #02a39b !important;
}

.MuiInput-underline:after {
  border-color: #02a39b !important;
}

// Linear Progress
.MuiLinearProgress-barColorPrimary {
  background-color: #02a39b !important;
}

// Loader
.loader {
  color: white !important;
  width: 23px !important;
  height: 23px !important;
  margin: 3px 0;
}

.form-control {
  &:focus {
    border-color: #02a39b;
    box-shadow: 0 0 5px 0.25rem #02a39b;
  }
}

@media only screen and (max-width: 345px) {
  .mt {
    margin-top: 75px;
  }
}

@media only screen and (max-width: 325px) {
  .mt {
    margin-top: 65px;
  }
}

// Slider

@media only screen and (min-width: 1560px) and (min-height: 800px) {
  .slider {
    .img {
      width: 100%;
      height: auto;
    }
  }
}

@media only screen and (max-width: 1560px) {
  .slider {
    .img {
      width: 100%;
      height: auto;
    }
  }
}

@media only screen and (max-width: 576px) {
  .text-justify {
    text-align: justify !important;
  }

  // Become An Instructor
  .become-an-instructor {
    .MuiInputLabel-formControl {
      width: 300px;
      line-height: 1.4;
    }
  }
}

// Variables
@import "./variables";

// Navbar
@import "./nav/nav";

// Our Mission
@import "./our_mission/ourMission";

// Available Programs
@import "./available_programs/availablePrograms";

// Upcoming Programs
@import "./upcoming_programs/upcomingPrograms";

// Youtube Channel
@import "./youtube_channel/youtubeChannel";

// Join DigiPAKISTAN
@import "./join_digiPakistan/joinDigiPakistan";

// Footer
@import "./footer/footer";

// Message
@import "./message/message";

// Admission Process
@import "./admission_process/admissionProcess";

// FAQs
@import "./faqs/faqs";

// Go To Top
@import "./go_to_top/goToTop";

// Contact Us
@import "./contact_us/contactUs";

// All About Pages StyleSheet
@import "./about/about";

// All Fast Track Styles
@import "./all_program/allProgram";

// All Course Outlines StyleSheet
@import "./course_outlines/courseOutlines";

// Apply Now Page
@import "./apply_now/applyNow";

// Sign Up Page
@import "./sign_up/signUp";

// Application Form
@import "./application_form/applicationForm";

// Email Verification Page
@import "./email_verification/emailVerification";

// Payment Verification
@import "./payment_verification/paymentVerification";

// Team
@import "./team/team";
