.apply-now {
  background: url("https://i.ibb.co/vPZWsP5/banner-affilaite.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  height: 1000px;
  width: 100%;
}
