footer {
  .footer-top {
    background-color: $secondary;
  }

  .footer-center {
    background-color: $darkColor;

    .para {
      width: 1000px;
    }
  }
}

.copyright {
  background-color: $secondary;
}

@media only screen and (max-width: 1025px) {
  footer {
    .footer-center {
      .para {
        width: 100%;
      }
    }
  }
}
