.signup {
  height: 700px;
  width: 100%;

  .form {
    width: 400px;
  }
}

@media only screen and (max-width: 576px) {
  .signup {
    height: auto;
    padding-top: 30px;
    padding-bottom: 150px;

    .form {
      width: 100%;
    }
  }
}
